body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #d63031;
    margin-bottom: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
}

.navbar-inverse .btn-link {
    color: #fff;
}

.text-danger {
    color: #ffffff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.navbar-inverse {
    background-color: #d63031;
    border-color: #d63031;
    color: #fff;
}

.reports * {
    color: #333;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a, h2, p, label, h4, h1 {
    color: #fff;
}

    p.intro {
        text-align: center;
        font-size: 23px;
        line-height: 40px;
        margin-top: 50px;
    }

a {
    color: #ffeaa7;
}

    a:hover, a:focus {
        color: #fdcb6e
    }

h1.acme {
    font-size: 104px;
    font-weight: 800;
    text-align: center;
}

    h1.acme.sm {
        font-size: 64px;
    }

ul.nav-tabs {
    display: flex;
    border-bottom: none;
}

    ul.nav-tabs > li {
        float: none;
        flex-grow: 1;
        text-align: center;
        border: none;
        margin-bottom: 0;
    }

        ul.nav-tabs > li > a {
            color: #fff;
            border: none !important;
            border-radius: 0;
            margin-right: 0;
        }

        ul.nav-tabs > li > a:hover {
            color: #555;
        }

.tab-content {
    padding: 16px 0;
    background-color: #fff;
    margin-bottom: -20px;
}

.simple-crud * {
    color: #333;
}

.faux {
    padding: 4px 8px;
}

.faux ul {
    margin: 0;
    padding: 0;
}

.faux.head {
    border-bottom: 1px solid #d63031;
    margin-bottom: 5px;
}

.faux li {
    display: inline-block;
    font-weight: 700;
}

.faux.row {
    margin: 0;
}

    .faux.row > * {
        display: inline-block;
    }

    .faux.row input, .sale-point input, .sale-point select {
        border: none;
        border-bottom: 1px solid #dedede;
        background-color: transparent;
    }

    .faux.row input:focus, .sale-point input:focus {
        outline: none;
        border-bottom: 1px solid #d63031;
    }

.faux.row > .glyphicon {
    position: relative;
    top: 5px;
    float: right;
    cursor: pointer;
}

.glyphicon-remove, span.red, .create-error, .sale-point .glyphicon-remove {
    color: #d63031;
}

.glyphicon-plus, .sale-point .glyphicon-plus {
    cursor: pointer;
    color: #00b894;
}

.sale-point .glyphicon-plus {
    font-size: 18px;
}

.glyphicon-remove:hover{
    color: #ff7675;
}

.glyphicon-plus:hover {
    color: #55efc4;
}

.faux p {
    margin: 0;
}

.create-row {
    margin-top: 16px;
}

input::placeholder {
    color: #dedede;
}

.navbar-right a:hover {
    text-decoration: underline !important;
}

.faux.row.invalid {
    background-color: #ff7675;
}

.items .faux.row > *:nth-child(1), .items .faux.head li:nth-child(1) {
    width: 3%;
}

.items .faux.row > *:nth-child(2), .items .faux.head li:nth-child(2) {
    width: 10%;
}

.items .faux.row > *:nth-child(3), .items .faux.head li:nth-child(3) {
    width: 15%;
}

.items .faux.row > *:nth-child(4), .items .faux.head li:nth-child(4) {
    width: 24%
}

.items .faux.row > *:nth-child(5), .items .faux.head li:nth-child(5) {
    width: 4%;
}

.items .faux.row > *:nth-child(6), .items .faux.head li:nth-child(6) {
    width: 7%;
}

.items .faux.row > *:nth-child(7), .items .faux.head li:nth-child(7) {
    width: 7%;
}

.items .faux.row > *:nth-child(8), .items .faux.head li:nth-child(8) {
    width: 23%;
}

.items .faux.row > *:nth-child(9), .items .faux.head li:nth-child(9) {
    width: 2%;
}

.items .faux.row.create > *:nth-child(1) {
    width: 0%;
}

.items .faux.row.create > *:nth-child(2) {
    width: 13.4%;
    font-weight: 600;
    font-size: 16px;
}

.purchases .faux.row > *:nth-child(1), .purchases .faux.head li:nth-child(1) {
    width: 3%;
}

.purchases .faux.row > *:nth-child(2), .purchases .faux.head li:nth-child(2) {
    width: 10%;
}

.purchases .faux.row > *:nth-child(3), .purchases .faux.head li:nth-child(3) {
    width: 20%;
}

.purchases .faux.row > *:nth-child(4), .purchases .faux.head li:nth-child(4) {
    width: 57%
}

.purchases .faux.row > *:nth-child(5), .purchases .faux.head li:nth-child(5) {
    width: 4%;
}

.sales .faux.row > *:nth-child(1), .sales .faux.head li:nth-child(1) {
    width: 3%;
}

.sales .faux.row > *:nth-child(2), .sales .faux.head li:nth-child(2) {
    width: 15%;
}

.sales .faux.row > *:nth-child(3), .sales .faux.head li:nth-child(3) {
    width: 15%;
}

.sales .faux.row > *:nth-child(4), .sales .faux.head li:nth-child(4) {
    width: 57%
}

.sales .faux.row > *:nth-child(5), .sales .faux.head li:nth-child(5) {
    width: 4%;
}

.sale-point img {
    border: #333 solid 3px;
}

.sale-point .glyphicon {
    float: none !important; 
}

    .sale-point * {
        color: #333;
    }

    .sale-point h2 {
        margin-top: 0;
        padding: 0 8px;
    }

    .sale-point input, .sale-point select {
        height: 25px;
        font-size: 18px;
    }

    .sale-point select {
        height: 26px;
    }

    .sale-point input.main {
        height: 40px;
        font-size: 24px;
        width: 720px;
        margin: 16px auto;
        display: block;
        max-width: 100%;
    }

    .sale-point h3 {
        margin-bottom: 0;
        padding: 0 8px;
    }

.sale-point .faux.row > *:nth-child(1), .sale-point .faux.head li:nth-child(1) {
    width: 30%;
}

.sale-point .faux.row > *:nth-child(2), .sale-point .faux.head li:nth-child(2) {
    width: 10%;
}

.sale-point .faux.row > *:nth-child(3), .sale-point .faux.head li:nth-child(3) {
    width: 30%;
}

.sale-point .faux.row > *:nth-child(4), .sale-point .faux.head li:nth-child(4) {
    width: 6%
}

.sale-point .faux.row > *:nth-child(5), .sale-point .faux.head li:nth-child(5) {
    width: 7%;
}

.sale-point .faux.row > *:nth-child(6), .sale-point .faux.head li:nth-child(6) {
    width: 6%;
}

.sale-point .faux.row > *:nth-child(7), .sale-point .faux.head li:nth-child(7) {
    width: 6%;
}

.finisher {
    text-align: center;
    padding: 8px;
}

.finisher p {
    margin-bottom: 0;
    font-size: 24px;
}

    .finisher button {
        color: #fff;
        background-color: #d63031;
        border: none;
        outline: none;
        padding: 8px 16px;
    }

        .finisher button:hover {
            background-color: #dd5555;
        }

        .finisher button:active {
            background-color: #ff7675;
        }

.order-message {
    font-size: 18px;
    text-align: center;
    color: #00b894;
}

    .order-message.failed {
        color: #d63031;
    }

.sale-point input::placeholder {
    color: #bcbcbc;
}

.item-adder {
    margin: 64px 8px 8px;
    text-align: center;
}

div.item-visualizer {
    max-height: 23px;
    margin-top: -7px;
}

.item-visualizer .item-wrapper {
    position: relative;
    display: inline-block;
    background-color: #81ecec;
    padding: 2px;
    border: 1px solid #00cec9;
    margin: 0 2px;
    overflow: hidden;
    top: 7px;
}

.item-visualizer .item-details {
    position: absolute;
    left: -1px;
    right: -1px;
    padding: 0 2px;
    z-index: 2;
}

.item-visualizer .item-wrapper:hover {
    border-bottom: none;
    overflow: visible;
    top: -1px;
}

.item-visualizer .item-wrapper:hover .item-details {
    background-color: #81ecec;
    border-bottom: 1px solid #00cec9;
    border-right: 1px solid #00cec9;
    border-left: 1px solid #00cec9;
}

@media screen and (min-width: 767px) {
    /* Hide captions */
    .content {
        margin-top: 10vh;
    }
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    h1.acme {
        font-size: 48px;
        font-weight: 800;
        text-align: center;
    }
}
