<div id="app">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#dashboard" aria-controls="dashboard" role="tab" data-toggle="tab">Dashboard</a></li>
        <li role="presentation"><a href="#saleOrder" aria-controls="saleOrder" role="tab" data-toggle="tab">Create Sale Order</a></li>
        <template v-if="canAccessAdmin">
            <li role="presentation"><a href="#purchaseOrder" aria-controls="purchaseOrder" role="tab" data-toggle="tab">Create Purchase Order</a></li>
            <li role="presentation"><a href="#saleManagement" aria-controls="saleManagement" role="tab" data-toggle="tab">Sale Management</a></li>
            <li role="presentation"><a href="#purchaseManagement" aria-controls="purchaseManagement" role="tab" data-toggle="tab">Purchase Management</a></li>
            <li role="presentation"><a href="#itemManagement" aria-controls="itemManagement" role="tab" data-toggle="tab">Item Management</a></li>
        </template>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="dashboard">
            I am the dashboard!
        </div>
        <div role="tabpanel" class="tab-pane fade" id="saleOrder">
            I am the sale order creation!
        </div>
        <template v-if="canAccessAdmin">
            <div role="tabpanel" class="tab-pane fade" id="purchaseOrder">
                I am the purchase order creation!
            </div>
            <div role="tabpanel" class="tab-pane fade sales" id="saleManagement">
                <simple-crud resourcetype="SaleOrders">
                    <ul>
                        <li>#</li>
                        <li>Date</li>
                        <li>Client Name</li>
                        <li>Items</li>
                        <li>Total</li>
                    </ul>
                </simple-crud>
            </div>
            <div role="tabpanel" class="tab-pane fade purchases" id="purchaseManagement">
                <simple-crud resourcetype="PurchaseOrders">
                    <ul>
                        <li>#</li>
                        <li>Date</li>
                        <li>Description</li>
                        <li>Items</li>
                        <li>Total</li>
                    </ul>
                </simple-crud>
            </div>
            <div role="tabpanel" class="tab-pane fade items" id="itemManagement">
                <simple-crud resourcetype="Items">
                    <ul>
                        <li>#</li>
                        <li>Product Code</li>
                        <li>Name</li>
                        <li>Description</li>
                        <li>Qty</li>
                        <li>Purchase $</li>
                        <li>Sale $</li>
                        <li>Image Path</li>
                    </ul>
                </simple-crud>
            </div>
        </template>
    </div>
</div>




@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/singlepageapp.js"></script>
}